*{
	font-family: Helvetica;
	font-color:red;
}
#header{
	border-radius: 10px;
	font-size: 30px;
	color: #000000;
	margin-left: 100px;
	height:200px;
	width:800px;
	}
#education{
	float:left;
	height:150px;
	width:500px;
	display:block;
	position: relative;
}
#experience{
	height:150px;
	width:500px;
	float:right;
	display:block;
	position: relative;
	margin-left:40px;
}
#other{
	height:150px;
	width:1000px;
	display:block;
	position:fixed;
	margin-top: 250px;
}


}
div{
    border-radius:5px
    background-color: cyan;
}
.sub{
	font-style: italic;
}
.head{
	font-style: strong;
}

