div{
    border-radius:5px
    height:100px;
    width:100px;
    background-color: cyan;
}
#header{
    position:fixed;
    z-index:1;
}
.left{
    float: left;
}
.right{
    float: right;
}
#footer{
    clear: both;
}

